
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }

    body {
      background-color: #e2ebf3;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      background-color: #e2ebf3;
    }

    .logo {
      font-size: 24px;
      font-weight: 700;
      display: flex;
      align-items: center;
      color: #002d62;
    }

    .logo img {
      height: 30px;
      margin-right: 10px;
    }

    nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.15s; 
}

nav a:hover {
  color: white;
  background-color: #1f2b44;
}

    .btn-login {
      background-color: #1f2b44;
      color: white;
      padding: 10px 20px;
      border-radius: 12px;
      text-decoration: none;
      font-weight: 600;
    }

    .hero {
      text-align: center;
      padding: 60px 20px 40px;
    }

    .hero h1 {
      font-size: 2.2rem;
      color: #1f2b44;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .hero p {
      color: #333;
      margin-bottom: 20px;
      font-size: 1rem;
    }

    .btn-get-started {
      background-color: #1f2b44;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      font-size: 1rem;
      cursor: pointer;
    }

    .image-section {
      background-color: #465d71;
      padding: 50px 0;
      text-align: center;
    }

    .image-section img {
      max-width: 700px;
      width: 90%;
    }

    @media (max-width: 768px) {
      .hero h1 {
        font-size: 1.6rem;
      }
    }